/home/lightdesk/Projects/AI-Text/Binoculars
/home/lightdesk/Projects/AI-Text/claude-sonnet-4.5-high-reasoning-250x
/home/lightdesk/Projects/AI-Text/DeTeCtive
/home/lightdesk/Projects/AI-Text/fast-detect-gpt
/home/lightdesk/Projects/AI-Text/HC3

/home/lightdesk/Projects/AI-Text/LLMtext_detect_dataset
/home/lightdesk/Projects/AI-Text/M4
/home/lightdesk/Projects/AI-Text/Models
/home/lightdesk/Projects/AI-Text/one-class-essay-detection